/* @mycolor:red;
body{
  //使用变量
  color:@mycolor;
}
 */
#one {
  color: teal;
  font-size: -106.38582677px;
  /* 如果m,n都是绝对单位，单位转换再计算
    如果m,n有一个是相对单位，有一个是绝对单位，操作符左侧单位为准
    如果m,n只有一个有单位，有单位的那个为准
  */
}
body {
  background-color: #ccc;
  color: teal;
  font-size: -106.38582677px;
  /* 如果m,n都是绝对单位，单位转换再计算
    如果m,n有一个是相对单位，有一个是绝对单位，操作符左侧单位为准
    如果m,n只有一个有单位，有单位的那个为准
  */
}
